/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(80, 83, 83);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: whitesmoke;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: crimson;

  color: white;
}

div .navDiv{
  background-color: whitesmoke;
 
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
  
body {
  background-color: #42378f;
background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
} 

.cardtitle {
  font-size: 40px
}

.cardIMG{
  max-width: 736px;
  height: auto;
  max-height: 500px;
  width: auto;
  margin : auto;
}

.cardPost {
  font-size: 20px;
}

.cardlink {
  font-size: 20px;
}

.cardLikeButton{
  font-size: 25px;
}

.cardDislikeButton{
  font-size: 25px;
}
.cardFavoriteButton{
  font-size: 25px;
}

.cardDeleteButton{
  font-size: 25px;
}

.cardEditButton{
  font-size: 25px;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 50px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}