/* Add a black background color to the top navigation */
.topnav {
  background-color: turquoise;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: whitesmoke;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: crimson;

  color: white;
}

div .navDiv{
  background-color: whitesmoke;
 
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


  
body {
  background-color: #42378f;
background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
} 